// Base styles for mobile (default)
header {
  max-width: 90%;
}

div.shell {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

footer {
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 90%;
  background: none;
}

// tablet styles (768px and up)
@media screen and (min-width: 768px) {
  body {
    max-width: 1028px;
    margin: 0 auto;
  }

  header {
    .ribbon-inner {
      box-shadow: 0 5px 3px rgba(0,0,0,0.7);
    }
  }

  span.banner-fix {
    display: none;
  }

  section#downloads {
    width: calc(90% - 50px);
    display: flex;
    justify-content: space-between;
    background: none;
    margin-bottom: -100px;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 20px;
      bottom: 20px;
      width: 2px;
      background: linear-gradient(
        to bottom,
        rgba(211, 204, 193, 0) 0%,
        rgba(211, 204, 193, 0.8) 20%,
        rgba(211, 204, 193, 0.8) 80%,
        rgba(211, 204, 193, 0) 100%
      );
    }

    &:before {
      left: -2px;
    }

    &:after {
      right: -2px;
    }

    .download-separator {
      background-color: #5c7f98;
      flex: 1 1 auto;
      width: 10%;
      height: 196px;
      position: relative;
      box-shadow: 0 4px 5px -5px #5c7f98;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #7fb0d2;
      }

      &:before {
        top: 4px;
      }

      &:after {
        bottom: 4px;
      }
    }
  }

  section#main_content {
    padding: 0 9%;
  }
}
